*{
    font-family: Lucida console;
}
.parallax {
    background: url(images/fon3.png)  no-repeat;
    width: 100%;
    height: 500px;
    background-size: 100%;
    background-position: center center;
    z-index: 50;
}

.block {
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: azure;
}

.otherworks {
    background: url(images/valkenburg-272472.jpg)  no-repeat;
    width: 99.3%;
    height: 400px;
    background-size: 100%;
    background-position: bottom;
    border: 5px solid #6d77a5;
    z-index: 100;
}

.bc_otherworks {
    background-color: #395165ba;
    width: 100%;
    height: 100%;
    z-index: 150;
}

.t_otherworks {
    text-align: center;
    color: #c7d883;
    font-size: 60pt;
    margin-top: -300px;
}

.callme {
    background: url(images/support-1120755_1920.jpg)  no-repeat;
    width: 99.3%;
    height: 400px;
    background-size: 100%;
    background-position: bottom;
    border: 5px solid #6d77a5;
    z-index: 100;
}

.bc_callme {
    background-color: #395165ba;
    width: 100%;
    height: 100%;
    z-index: 150;
}

.t_akcii_callme {
    text-align: center;
    color: #c7d883;
    font-size: 55pt;
    margin-top: -345px;
}
.zamer {
    background: url(images/metal-ruler-2765212.jpg)  no-repeat;
    width: 99.3%;
    height: 400px;
    background-size: 100%;
    background-position: bottom;
    border: 5px solid #6d77a5;
    z-index: 100;
}

.bc_zamer {
    background-color: #395165ba;
    width: 100%;
    height: 100%;
    z-index: 150;
}

.t_zamer {
    text-align: center;
    color: #c7d883;
    font-size: 60pt;
    margin-top: -330px;
}

.ya_map {
    width: 99.3%;
    height: 400px;
    background-size: 100%;
    background-position: bottom;
    border: 5px solid #6d77a5;
    z-index: 100;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    width: 99%;
    border: 7px solid #6d77a5;
    text-align: center;
    font-size: 18pt;
    color: #006680;
}

.hline {
    display: flex;
}

.header {
    position: fixed;
    background-color: aquamarine;
    width: 99.3%;
    height: 113px;
    border: 5px solid #6d77a5;
    display: flex;
}

.t_footer {
    margin-top:1.5%;
}

.t_header {
    text-align: center;
    color: #006680;
    font-size: 26pt;
    margin-top: 2%;
    margin-left: 3%;
}
