*{
    font-family: 'Comfortaa', cursive;
}
body{
    overflow-x: hidden;
}
a { 
    text-decoration: none;
   }
.parallax {
    background: url(images/fon3.jpg)  no-repeat;
    width: 100%;
    height: 500px;
    background-size: 100%;
    
    z-index: 50;
    background-position:0px 8px;
}

.block {
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: azure;
}

.otherworks {
    background: url(images/valkenburg-272472.jpg)  no-repeat;
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-position: bottom;
    border: 5px solid #6d77a5;
    z-index: 100;
}

.bc_otherworks {
    background-color: #395165ba;
    width: 100%;
    height: 100%;
    z-index: 150;
    margin-top: 128px;
}

.t_otherworks {
    text-align: center;
    color: #c7d883;
    font-size: 60pt;
    margin-top: -300px;
}

.callme {
    background: url(images/support-1120755_1920.jpg)  no-repeat;
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-position: bottom;
    border: 5px solid #6d77a5;
    z-index: 100;
}

.bc_callme {
    background-color: #395165ba;
    width: 100%;
    height: 100%;
    z-index: 150;
    margin-top: 128px;
}

.t_akcii_callme {
    text-align: center;
    color: #c7d883;
    font-size: 55pt;
    margin-top: -345px;
}
.zamer {
    background: url(images/metal-ruler-2765212.jpg)  no-repeat;
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-position: bottom;
    border: 5px solid #6d77a5;
    z-index: 100;
}

.bc_zamer {
    background-color: #395165ba;
    width: 100%;
    height: 100%;
    z-index: 150;
    margin-top: 128px;
}

.t_zamer {
    text-align: center;
    color: #c7d883;
    font-size: 60pt;
    margin-top: -350px;
}

.ya_map {
    width: 100%;
    height: 405px;
    background-size: 100%;
    background-position: bottom;
    border: 5px solid #6d77a5;
    z-index: 100;
}

.footer {
    width: 100%;
    height: 113px;
    background-color: aquamarine;
    border: 7px solid #6d77a5;
    text-align: center;
    font-size: 18pt;
    color: #006680;
}

.hline {
    display: flex;
}

.header {
    position: fixed;
    background-color: aquamarine;
    height: 113px;
    width: 100%;
    display: flex;
}

.t_footer {
    margin-top:1.5%;
}

.margin_1 {
    margin-top: -128px;
}

.t_header {
    text-align: center;
    color: #006680;
    font-size: 22pt;
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
}

.butt_1 {
    border: 2px solid gray;
    border-radius: 10px;
    background-color: #caffed;
    width: 200px;
    height: 40px;
    font-size: 20pt;
    cursor: pointer;
}

.butt_2 {
    border: 2px solid gray;
    border-radius: 10px;
    background-color: #caffed;
    width: 200px;
    height: 40px;
    margin-left: 1%;
    cursor: pointer;
}
.butt_3 {
    border: 2px solid gray;
    border-radius: 10px;
    background-color: #caffed;
    width: 200px;
    height: 40px;
    margin-left: 1%;
    cursor: pointer;
}
.margin_2 {
    margin-top: -128px;
}

.callback {
    width: 120px;
    height: 60px; 
    border: 2px solid gray;
    background-color: azure;
    border-radius: 10px;
    font-size: 16pt;
    text-align: center;
    margin-top: 2%;
    margin-left: 3%;
    cursor: pointer;
}
.wrapper1 {
    display: flex;
}
